<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>

        async function acceder(){
            let nombre=document.getElementsByClassName('acceder correo')[0].value;
            let codigo=document.getElementsByClassName('acceder codigo')[0].value;
            
            let c=await fetch(`http://127.0.0.1:5000/verificarUsuario`,{
            method:"POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({"Nombre":nombre, "Codigo":codigo})
        })

        if(c.ok){
            let data=c.json()['confirmacion'];
            if (data){
                window.open(url);
            }else{
                alert('Correo o codigo equivocado')
            }
        }
        }
    </script>
</head>
<body>
    <div id="login">
        <h1>Acceder</h1>
        <label>Correo:</label><input type="email" maxlength="40" class="acceder correo">
        <label>Codigo:</label><input type="password" maxlength="4" class="acceder codigo">
        <a>Aceptar</a>
        <a>No tengo cuenta</a>
    </div>
    <div id="registro">
        <h1>Registro</h1>
        <label>Nombres:</label><input type="text" maxlength="30" class="registro nombre">
        <label>Apellidos:</label><input type="text" maxlength="30" class="registro apellido">
        <label>Correo:</label><input type="email" maxlength="40" class="registro correo">
        <label>Codigo:</label><input type="password" maxlength="4" class="registro codigo">
        <a>Aceptar</a>
        <a>Ya tengo cuenta</a>
    </div>
</body>
</html>