<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    <label>Codigo*</label><input type="text" class="codigo"><br>
    <label>Nombre*</label><input type="text" class="nombre"><br>
    <label>Apellido*</label><input type="text" class="apellido"><br>
    <label>Fecha_nacimiento*</label><input type="date" class="fecha"><br>
    <label>Proyecto curricular*</label><select class="PC">
        <option  value="artes plasticas">artes plasticas</option>
        <option  value="licen. musica">licen. musica</option>
    </select><br>
    <label>Documento*</label><input type="text" class="doc"><label>TD</label><select class="TD">
        <option  value="Cedula de ciudadania">C.C</option>
        <option  value="Tarjeta de identidad">T.I</option>
        <option  value="Otro">O</option>
    </select><br>
    <label>Correo institucional*</label><input type="email" class="mail"><br>
    <label>Correo personal</label><input type="email" class="mailP"><br>
    <label>celular*</label><input type="text" class="celular"><br>

</body>
</html>